{% extends 'index.html' %}
{% block context %}
{% if error %}
<div class="alert alert-danger" role="alert">{{error}}</div>
{% endif %}
{% if result %}
<div class="alert alert-success" role="alert">{{result}}</div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">添加salt 模块</div>
    <div class="panel-body">
        <form class="form-horizontal" method="post" action="">
            <div class="form-group">
                <label for="module_name" class="col-md-2 control-label">模块名</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="module_name" name="module_name" placeholder="请填写模块名">
                </div>
            </div>
            <div class="form-group">
                <label for="module_info" class="col-md-2 control-label">模块说明</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="module_info" name="module_info" placeholder="请填写模块说明">
                </div>
            </div>
            <div class="form-group">
                <label for="args_info" class="col-md-2 control-label">参数使用说明</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="args_info" name="args_info" placeholder="请填写模块使用说明">
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <button type="reset" class="btn btn-success">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

