{% extends 'index.html' %}
{% block context %}
{% if error %}
<div class="alert alert-danger" role="alert">{{error}}</div>
{% endif %}
{% if result %}
<div class="alert alert-success" role="alert">{{result}}</div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">添加用户</div>
    <div class="panel-body">
        <form class="form-horizontal" method="post" action="">
            <div class="form-group">
                <label for="username" class="col-md-2 control-label">用户名</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="请填写用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-md-2 control-label">Email</label>
                <div class="col-md-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="请输入Email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">用户组</label>
                <div class="col-md-10">
                    <select class="form-control" name="usergroup">
                        {% for Groupname in groupname %}
                        <option value={{ Groupname.name }}>{{ Groupname.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">角色</label>
                <div class="col-md-10">
                    <select class="form-control" name="role">
                        <option value="SU">超级管理员</option>
                        <option value="CU" selected>普通用户</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">是否激活</label>
                <div class="col-md-10">
                    <label class="radio-inline">
                        <input type="radio" name="is_active" value="1" checked="checked">是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="is_active" value="0">否
                    </label>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <button type="reset" class="btn btn-success">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

