{% extends 'index.html' %}
{% block context %}
<div id="ret" role="alert"></div>
<div class="panel panel-default">
    <div class="panel-heading">已认证key</div>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="请使用正则匹配 ^test.*">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <th>saltkey</th>
            <th>操作</th>
	    {% for key in pl %}
            <tr>
                <td class="saltkey">{{ key }}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs del">删除</button>
                </td>
            </tr>
	   {% endfor %}
        </table>
{% include "paginator.html" %}
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(function(){
	$('button.del').on('click',function(e){
		var saltkey = $(this).parent().parent().find('td.saltkey').text();
		var currentTr = $(this).parent().parent();
		$.ajax({
			type: 'POST',
			url: '/saltkey_manager/delete_key_ajax/',
			timeout: 1000,
			data:{
				saltkey : saltkey
			},
			success: function(data){
				$("#ret").attr('class','alert alert-success');
				$("#ret").text(data);
				currentTr.remove();
			},
           		error: function(xhr,errorText,errorStatus){
                    		alert(xhr.status+':'+xhr.statusText);
           		},
			complete: function(XMLHttpRequest,status){
				if (status == 'timeout'){
					alert('删除请求超时');
				}
			}
		})
	})
})
</script>
{% endblock %}
